<a href="https://colab.research.google.com/github/TANGTHEMANH/phan_tich_du_lieu/blob/master/btvnbuoi6(chipotle)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Step 1. Import the necessary libraries
import numpy as np
import pandas as pd

In [7]:
# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called chipo.
# chipo = open('/content/chipotle.tsv.txt').read()
chipo = pd.read_csv('/content/chipotle.tsv.txt',delimiter='\t')

In [ ]:
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [ ]:
# Step 4. See the first 10 entries
with open('/content/chipotle.tsv.txt') as chipo:
    noi_dung_file = chipo.readlines()

for x in noi_dung_file[1:10]:
  print (x)

1	1	Chips and Fresh Tomato Salsa	NULL	$2.39

1	1	Izze	[Clementine]	$3.39

1	1	Nantucket Nectar	[Apple]	$3.39

1	1	Chips and Tomatillo-Green Chili Salsa	NULL	$2.39

2	2	Chicken Bowl	[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]	$16.98

3	1	Chicken Bowl	[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]	$10.98

3	1	Side of Chips	NULL	$1.69

4	1	Steak Burrito	[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]	$11.75

4	1	Steak Soft Tacos	[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]	$9.25

In [ ]:
# Step 5. What is the number of observations in the dataset?

with open('/content/chipotle.tsv.txt', 'r') as chipo:

    lines = chipo.readlines()

num_observations = len(lines)

print("Number of observations:", num_observations)

Number of observations: 4623

In [8]:
# Step 6. What is the number of columns in the dataset?

num_cols = chipo.shape[1]
print("Number of columns:", num_cols)

Number of columns: 5

In [ ]:
# Step 7. Print the name of all the columns.
with open('/content/chipotle.tsv.txt', 'r') as chipo:
    first_line = chipo.readline()
    columns = first_line.strip().split('\t')
num_columns = len(columns)
print("Number of columns:", num_columns)
print('Columns names: ')
for column in columns:
  print(column)

Number of columns: 5
Columns names:
order_id
quantity
item_name
choice_description
item_price

In [ ]:
# Step 8. How is the dataset indexed?
chipo = chipo.set_index('user')

In [ ]:

# Step 9. Which was the most-ordered item?

df = pd.read_csv('/content/chipotle.tsv.txt', sep='\t')
# group the data by item_name and sum the quantity for each item
item_counts = df.groupby('item_name')['quantity'].sum()
# item_counts
# sort the items by the total quantity in descending order
sorted_items = item_counts.sort_values(ascending=False)

sorted_items
# print the most-ordered item
most_ordered_item = sorted_items.index[0]
count = sorted_items.iloc[0]
print("The most-ordered item is:", most_ordered_item, "with", count, "items ordered")

The most-ordered item is: Chicken Bowl with 761 items ordered

In [ ]:
# Step 10. For the most-ordered item, how many items were ordered?

df = pd.read_csv('/content/chipotle.tsv.txt', sep='\t')
# group the data by item_name and sum the quantity for each item
item_counts = df.groupby('item_name')['quantity'].sum()
# item_counts
# sort the items by the total quantity in descending order
sorted_items = item_counts.sort_values(ascending=False)

sorted_items
# print the most-ordered item
most_ordered_item = sorted_items.index[0]
count = sorted_items.iloc[0]
print("The most-ordered item is:", most_ordered_item, "with", count, "items ordered")

The most-ordered item is: Chicken Bowl with 761 items ordered

In [ ]:
# Step 12. How many items were orderd in total?
# solution 1
item_counts = df.groupby('item_name')['quantity'].sum()
total_items_ordered = sum(1 for line in item_counts)
# solution 2
# total_items_ordered = item_counts.shape[0]
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 50

In [ ]:
import pandas as pd

# read in the text file as a dataframe, skipping the first row
my_df = pd.read_csv('/content/chipotle.tsv.txt', sep='\t', names=['column1', 'column2', 'column3', 'column4', 'column5'], skiprows=1)

# convert the columns to float
my_df['column1'] = my_df['column1'].astype(float)
my_df['column2'] = my_df['column2'].astype(float)
my_df['column5'] = my_df['column5'].str.replace('$','').astype(float)

print(my_df)

In [61]:
# Step 13. Turn the item price into a float
chipo = pd.read_csv('/content/chipotle.tsv.txt', sep='\t')
# .a. Check the item price type
print(chipo['item_price'].dtype)
# b. Create a lambda function and change the type of item price
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)
# Check the item price type
print(chipo)

print(chipo['item_price'].dtype)

object
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[4622 rows x 5 columns]
float64

<ipython-input-61-fe545e6c6d67>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

In [65]:
# Step 14. How much was the revenue for the period in the dataset?
chipo['revenue'] = chipo['item_price']* chipo['quantity']
total_revenue = chipo['revenue'].sum()
print("total revenue:", total_revenue)

total revenue: 39237.02

In [69]:
# Step 15. How many orders were made in the period?
order_counts = chipo.shape[0]
print(order_counts)

4622

In [76]:
# Step 16. What is the average revenue amount per order?
# Step 17. How many different items are sold?


# drop duplicate rows based on the item_name column
chipo_unique = df.drop_duplicates(subset='item_name')
# print(chipo_unique)
# count the number of remaining rows
num_items_sold = len(chipo_unique)
# print(num_items_sold)
# print the number of different items sold to the console
print("Number of different items sold:", num_items_sold)

Number of different items sold: 50