<a href="https://colab.research.google.com/github/TANGTHEMANH/phan_tich_du_lieu/blob/master/btvnbuoi6(occupation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Step 1. Import the necessary libraries
import numpy as np 
import pandas as pd

In [57]:
# Step 2. Import the dataset from this address.
# users = pd.read_csv('/content/u.user',delimiter='\t')
users =  pd.read_csv('/content/u.user', sep='[|,|]', engine='python')

In [58]:
# Step 3. Assign it to a variable called users and use the 'user_id' as index
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [25]:
# Step 4. See the first 25 entries
# solution 1
# with open('/content/u.user') as users:
#     noi_dung_file = users.readlines()

# for x in noi_dung_file[1:25]:
#   print (x)
#solution 2
print(users)
print(users.head(10))

     user  id age         gender occupation  zip  code
0       1  24   M     technician      85711  NaN   NaN
1       2  53   F          other      94043  NaN   NaN
2       3  23   M         writer      32067  NaN   NaN
3       4  24   M     technician      43537  NaN   NaN
4       5  33   F          other      15213  NaN   NaN
..    ...  ..  ..            ...        ...  ...   ...
938   939  26   F        student      33319  NaN   NaN
939   940  32   M  administrator      02215  NaN   NaN
940   941  20   M        student      97229  NaN   NaN
941   942  48   F      librarian      78209  NaN   NaN
942   943  22   M        student      77841  NaN   NaN

[943 rows x 7 columns]
   user  id age         gender occupation  zip  code
0     1  24   M     technician      85711  NaN   NaN
1     2  53   F          other      94043  NaN   NaN
2     3  23   M         writer      32067  NaN   NaN
3     4  24   M     technician      43537  NaN   NaN
4     5  33   F          other      15213  NaN   NaN
5     6  42   M      executive      98101  NaN   NaN
6     7  57   M  administrator      91344  NaN   NaN
7     8  36   M  administrator      05201  NaN   NaN
8     9  29   M        student      01002  NaN   NaN
9    10  53   M         lawyer      90703  NaN   NaN

In [16]:
# Step 5. See the last 10 entries
print(users)
print(users.tail(10))

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]
    user_id|age|gender|occupation|zip_code
933                934|61|M|engineer|22902
934                  935|42|M|doctor|66221
935                   936|24|M|other|32789
936                937|48|M|educator|98072
937              938|38|F|technician|55038
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

In [11]:
# Step 6. What is the number of observations in the dataset?

with open('/content/u.user', 'r') as users:

    lines = users.readlines()

num_observations = len(lines)

print("Number of observations:", num_observations)

Number of observations: 944

In [9]:
# Step 7. What is the number of columns in the dataset?

num_cols = users.shape[1]
print("Number of columns:", num_cols)

Number of columns: 1

In [26]:
# Step 8. Print the name of all the columns
# get the column names from the dataframe
column_names = users.columns.tolist()

# print the column names to the console
print("Column names:", column_names)

Column names: ['user', 'id', 'age', 'gender', 'occupation', 'zip', 'code']

In [29]:
# Step 9. How is the dataset indexed?
users = users.set_index('user')

In [30]:
# Step 10. What is the data type of each column?

print(users.dtypes)

id              int64
age            object
gender         object
occupation     object
zip           float64
code          float64
dtype: object

In [31]:
#Step 11. Print only the occupation column
print(users[['occupation']])

     occupation
user
1         85711
2         94043
3         32067
4         43537
5         15213
...         ...
939       33319
940       02215
941       97229
942       78209
943       77841

[943 rows x 1 columns]

In [34]:
# Step 12. How many different occupations are in this dataset?

num_items = users['occupation'].nunique()

print("Number of different item_name:", num_items)

Number of different item_name: 795

In [36]:
# Step 13. What is the most frequent occupation?
occupation_counts = users['occupation'].value_counts()

most_common_occupation = occupation_counts.index[0]

print("Most common occupation:", most_common_occupation)

Most common occupation: 55414

In [41]:
#Step 14. Summarize the DataFrame.
summary = users.describe()
print(summary)
# summary = users.describe(include='all')

               id  zip  code
count  943.000000  0.0   0.0
mean    34.051962  NaN   NaN
std     12.192740  NaN   NaN
min      7.000000  NaN   NaN
25%     25.000000  NaN   NaN
50%     31.000000  NaN   NaN
75%     43.000000  NaN   NaN
max     73.000000  NaN   NaN

In [42]:
# Step 15. Summarize all the columns
summary = users.describe(include='all')
print(summary)

                id  age   gender occupation  zip  code
count   943.000000  943      943        943  0.0   0.0
unique         NaN    2       21        795  NaN   NaN
top            NaN    M  student      55414  NaN   NaN
freq           NaN  670      196          9  NaN   NaN
mean     34.051962  NaN      NaN        NaN  NaN   NaN
std      12.192740  NaN      NaN        NaN  NaN   NaN
min       7.000000  NaN      NaN        NaN  NaN   NaN
25%      25.000000  NaN      NaN        NaN  NaN   NaN
50%      31.000000  NaN      NaN        NaN  NaN   NaN
75%      43.000000  NaN      NaN        NaN  NaN   NaN
max      73.000000  NaN      NaN        NaN  NaN   NaN

In [44]:
# Step 16. Summarize only the occupation column
summary = users['occupation'].describe()
print(summary)

count       943
unique      795
top       55414
freq          9
Name: occupation, dtype: object

In [60]:
# Step 17. What is the mean age of users?
users =  pd.read_csv('/content/u.user', sep='[|,|]', engine='python')
users['age'] = users['age'].astype(float)

mean_age = users['age'].mean()

print("Mean age of users:", mean_age)

Mean age of users: 34.05196182396607

In [61]:
# Step 18. What is the age with least occurrence?

users['age'] = users['age'].astype(float)

age_counts = users['age'].value_counts()

least_common_age = age_counts.index[-1]

print("Age with least occurrence:", least_common_age)

Age with least occurrence: 73.0